.DS_Store
.env
.flaskenv
*.pyc
*.pyo
venv/
/dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
*.sock
*.log
*.iml
*.pyc
__pycache__/

# python project related files
.flaskenv
*.pyc
*.pyo
.pytest_cache/

/venv/
*.private.env.json
tests.http

dist/
build/
*.egg
*.egg-*/
__pycache__/

